body {
    font-family: "Open Sans";
    margin: 0;
    font-weight: 400;
  }
  p {
    font-size: 16px;
    font-weight: 400;
  }
  a {
    text-decoration: none;
  }
  h1,h2 {
    font-family: Raleway;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.5px;
  }
  a:visited {
    color: white;
    text-decoration:none;
  }

  #nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 30px 70px 0px 70px ;
  }
  
  #headerLogo {
    width: 150px
  }
  .menu {
    width: 240px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
  }
  .menu a {
    color:hsl(240, 2%, 27%);
  }
  .menu a:hover {
    color:hsl(170, 45%, 43%);
  }
  #home {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 80vh;
    margin: 0 auto;
    align-items: center;
    padding: 0px 10px;
  }
  #homeContent {
    margin: 0px 60px;
  }

  #input1 {
    width: 230px;
    height: 40px;
    border-radius: 2px;
    border: solid 0.5px rgb(116, 115, 115);
    padding: 0px 20px;
    font-family: "Open Sans";
  }
  #input1::placeholder { 
    color: hsl(0, 0%, 75%);
    font-size: 14px;
    font-family: "Open Sans";
  }
  #button1 {
    width: 180px;
    height: 40px;
    box-shadow: 0px 0px 3px 0px hsl(224, 95%, 36%);
    background-color:hsl(224, 93%, 58%);
    border-radius:2px;
    border: 0;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:13px;
    margin-left: 10px;
    font-family: "Open Sans";
  }
  #button1:hover {
	  background-color:hsl(224, 95%, 36%);
  }
  #button1:active {
	  position:relative;
	  top:1px;
  }
  .homeImage {
    display: flex;
    justify-content: center;
    width: 550px;
  }
  .curveDesk {
    width: 100vw; 
    position: relative; 
    top: 10px
  }
  #intro {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 80vh;
    margin: 0 auto;
    background-color: hsl(240, 65%, 98%);
    padding: 0px 30px 50px 20px;
    align-items: center;
  }
  #introContent {
    margin: 0px 40px;
  }
  #introContentP p{
    width: 500px;
    font-size: 15px;
  }
  #cta1 {
    color:hsl(170, 45%, 43%); 
    width: 170px;
    border-bottom: solid 1.1px;
    border-color: hsl(170, 45%, 43%);
    padding-bottom: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #quote {
    width: 270px;
    background-color: white ;
    padding: 20px 30px;
    border: 0;
    border-radius: 8px;
    box-shadow: 0px 0px 15px 0px hsl(0, 0%, 84%);
    margin-top: 40px;
  }
  
  #quoteContent{
    font-size: 13px;
    margin:auto;
    padding-top: 5px;
  }

  #person {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 40px 200px;
  }
  #personInfo {
    display: flex;
    flex-direction: column;
  }
  #personName {
    font-size: 10px; 
    font-weight: bold;
  }
  #personTitle {
    font-size: 5px;
  }

  .introImage {
    display: flex;
    justify-content: center;
    width: 480px;
  }

  #cta {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 42vh;
    margin: 0 auto;
    align-items: center;
    background-color: hsl(238, 22%, 44%);
    color:whitesmoke;
    padding: 0px 70px;
  }
  #ctaContent {
    padding-right: 80px;
  }
  #ctaEmail {
    padding: 0px 70px;
  }
  #input2 {
    width: 380px;
    height: 40px;
    border-radius:2px;
    border: 0;
    box-shadow: 0px 0px 4px 0px hsl(210, 1%, 29%);
    padding: 0px 20px;
    margin-bottom: 15px;
    font-family: "Open Sans";
  }

  #input2::placeholder { 
  color: hsl(0, 0%, 75%);
  font-size: 13px;
  font-family: "Open Sans";
  }

  #button2 {
    width: 180px;
    height: 40px;
    box-shadow: 0px 0px 3px 0px hsl(224, 95%, 36%);
    background-color:hsl(224, 93%, 58%);
    border-radius:2px;
    border: 0;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:13px;
    font-family: "Open Sans";
  }
  #button2:hover {
	  background-color:hsl(224, 95%, 36%);
  }
  #button2:active {
	  position:relative;
	  top:1px;
  }

  #theFooter {
    display: grid;
    grid-template-columns: 30% 20% 20% 30%;
    height: 46vh;
    margin: 0 auto;
    background-color: hsl(243, 87%, 12%);
    color:whitesmoke;
    padding: 0px 70px;
  }

  #logo {
    margin-top: 90px;
  }
  #logoImg {
    width: 150px;
  }
  #logo p {
    font-size: 14px;
  }
  #about, #contactUs{
    font-size: 14px;
    line-height: 30px;
    margin-top: 150px;
  }
  #theFooter a:hover {
    color:hsl(170, 45%, 43%);
  }

  #mediaIcon {
    width: 100px;
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
  }
  .circle {
    border: solid 0.5px white;
    border-radius: 50%;
    width: 25px; 
    height: 25px;
    text-align: center;
  }

  .attribution { 
    font-size: 11px; 
    text-align: center;
    background-color: hsl(243, 87%, 12%); 
    margin: 0;
    color: whitesmoke;
    height: 30px;
    align-items: center;
  }
  .attribution a { color: hsl(228, 45%, 44%); }