@media screen and (max-width: 500px) {
    #nav {
        padding: 5px 25px 0px 25px;
    }
    #headerLogo {
    width: 90px
    }
    .menu {
    width: 50%;
    font-size: 13px;
    }
    #home {
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        height: 660px;
        padding: 0px 25px;
    }
    #homeContent {
        margin: 0px;
        text-align: center;
    }
    #homeContent p {
        margin: 20px 0px;
    }
    #homeContent h1{
        font-size: 27px;
        line-height: 35px;
    }
    #input1 {
        width: 285px;
        margin-top: 10px;
    }
    #button1 {
        width: 325px;
        margin-left: 0px;
        margin-top: 18px;
        font-size:15px;
    }
    .homeImage {
         order:-1;
         width: 330px;
         margin: auto;
    }
    .curveDesk {
        width: 100vw; 
        position: relative; 
        top: 10px;
        margin-top: 50px;
    }
    #intro {
        grid-template-columns: 100%;
        grid-template-rows: 30% 70%;
        height: 1000px;
        padding: 0px 25px;
    }
    #introContent {
        margin: 0px;
    }
    #introContent h1 {
        font-size: 17px;
        text-align: center;
    }
    #introContentP p {
        width: 85vw;
    }
    #cta1 {
        font-size: 13px;
        width: 140px;
        margin: auto;
        margin-top: 40px;
    }
    #quote {
        margin-left: auto;
        margin-right: auto;
    }
    .introImage {
        order:-1;
        width: 330px;
        margin: 40px auto 0px auto;
    }
    #cta {
        grid-template-columns: 100%;
        grid-template-rows: 60% 40%;
        height: 400px;
        padding: 0px 35px;
    }
    #ctaContent {
        text-align: center;
        padding-right: 0;
    }
    #ctaContent h2 {
        font-size: 19px;
    }
    #ctaEmail {
        padding: 0;
        position: relative;
        bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #input2 {
        width: 235px;
        height: 35px;
        margin-bottom: 10px;
    }
    #button2 {
        width: 275px;
        height: 35px;
    }
    #theFooter {
        grid-template-columns: 100%;
        grid-template-rows: 30% 30% 20% 20%;
        height: 700px;
        padding: 0px 40px;
    }
    #logo p {
        font-size: 16px;
    }
    #theFooter a{
        font-size: 16px; 
    }
    #logo {
        margin-top: 60px;
        line-height: 20px;
    }
    #logoImg {
        width: 170px;
        margin-bottom: 20px;
      }
    #about {
        margin-top: 40px;
        line-height: 35px;
    }
    #contactUs {
        margin-top: 20px;
        line-height: 35px;
    }
    #mediaIcon {
    margin-top: 40px;
    width: 100px;
    margin: auto;
    
    }
  }