body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff url(https://images.unsplash.com/photo-1453791052107-5c843da62d97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80)no-repeat center;
    background-size: 80em;
}

h1 {
    font-size: 8rem;
    color: seashell;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 0em;
    
}
div {
    color: seashell;
    font-size: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 5em;
}